
.App {
  text-align: center;
}
.world_Color {
  color: rgb(32, 28, 238);
}
.world_Color_change {
  color: rgb(81, 241, 32);
}
.App-header {
  text-align: center;
  background-color: rgb(79, 228, 146);
}

.App-header1 {
  text-align: center;
  background-color: rgb(228, 108, 108);
}